html, body, .app {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  background-color: white;
  color: black;
  font-family: Calibri, sans-serif;
}

div, h1, p {
  margin: 0;
  padding: 0;
}

a, a:visited {
  color: #0000dd;
  text-decoration: none;
}

.app {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

/* ----------App---------- */
.editor {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.viewer {
  display: flex;
  flex-direction: row;
  width: max-content;
  height: 100%;
  background-color: black;
  cursor: none;
}
.viewer.invert {
  background-color: white;
}

.editor-info {
  margin: 10px 0;
  font-size: 24px;
}

.editor > p {
  padding: 2px 0;
}

.viewer > .frame {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0 2vw;
  width: calc(100vw - 4vw);
  height: 100%;
  color: transparent;
  text-align: center;
  font-size: 36px;
  transition: color 300ms ease-out;

  user-select: none;
}

.red {
  background-color: #db3737;
}
.orange {
  background-color: #dd9d2e;
}
.green {
  background-color: #38ba2c;
}
.cyan {
  background-color: #2bb0ce;
}
.blue {
  background-color: #4046bc;
}
.purple {
  background-color: #9540bc;
}

.viewer > .frame.show {
  color: white;
}
.viewer.invert > .frame.show {
	color: black;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 85%;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 4px auto;
  padding: 3px 6px;
  border: 1px solid #b5b5b5;
  border-radius: 4px;
}

.card-col {
  display: flex;
  flex-direction: column;
}

.card-handle {
  margin: auto;
  margin-right: 3px;
  margin-left: -5px;
  font-size: 20px;
  cursor: grab;
}
.card-handle:active {
  cursor: grabbing;
}

.card-id {
  height: 26px;
  border-radius: 4px;
  color: white;
  font-size: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto 4px;
  width: 7%;
}

.buttons > button {
  margin: 2px;
  padding: 2px;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: 900;
  font-size: 18px;
  font-family: Calibri, sans-serif;
}

.button-add {
  background-color: #3faf3f;
}

.button-remove {
  background-color: #de3a3a;
}

.text {
  margin: 0 4px;
  padding: 4px;
  max-height: 30vh;
  width: 34vw;
  height: 46px;
  border: none;
  border-radius: 2px;
  background-color: #e7e7e7;
  text-align: center;
}