html, body, .app {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  background: linear-gradient(0deg, hsl(110, 70%, 30%) 0%, hsl(110, 80%, 60%) 100%);
  color: black;
  font-family: Calibri, sans-serif;
}

div, h1, p {
  margin: 0;
  padding: 0;
}

a, a:visited {
  color: #0000dd;
  text-decoration: none;
}

.app {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

/* ----------Global---------- */
.red {
  background-color: #db3737 !important;
}
.orange {
  background-color: #dd9d2e !important;
}
.green {
  background-color: #38ba2c !important;
}
.cyan {
  background-color: #2bb0ce !important;
}
.blue {
  background-color: #4046bc !important;
}
.purple {
  background-color: #9540bc !important;
}

/* ----------App---------- */
.editor {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.viewer {
  display: flex;
  flex-direction: row;
  width: max-content;
  height: 100%;
  background-color: black;
  cursor: none;
}
.viewer.invert {
  background-color: white;
}

.editor-info {
  margin: 10px 0;
  font-size: 24px;
}

.editor > p {
  padding: 2px 0;
}

.viewer > .frame {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 0 2vw;
  width: calc(100vw - 4vw);
  height: 100%;
  color: white;
  text-align: center;
  font-size: 36px;

  user-select: none;
}
.viewer > .frame.pos-1 { /* Top Left */
	justify-content: start;
	align-items: start;
	text-align: left;
}
.viewer > .frame.pos-2 { /* Top Middle */
	justify-content: start;
	align-items: center;
}
.viewer > .frame.pos-3 { /* Top Right */
	justify-content: start;
	align-items: end;
	text-align: right;
}
.viewer > .frame.pos-4 { /* Middle Right */
	align-items: end;
	text-align: right;
}
.viewer > .frame.pos-5 { /* Bottom Right */
	justify-content: end;
	align-items: end;
	text-align: right;
}
.viewer > .frame.pos-6 { /* Bottom Middle */
	justify-content: end;
}
.viewer > .frame.pos-7 { /* Bottom Left */
	justify-content: end;
	align-items: start;
	text-align: left;
}
.viewer > .frame.pos-8 { /* Middle Left */
	align-items: start;
	text-align: left;
}

.viewer.invert > .frame > * {
  color: black;
}
.viewer > .frame > * {
  opacity: 0;
  transition: opacity 300ms ease-out;
}
.viewer > .frame.show > * {
  opacity: 1;
}

.viewer > .frame > p {
  margin: 0.6em 0;
}

.viewer > .frame > p.image-only {
  width: 90%;
  height: 90%;
}

.viewer > .frame > p.image-only > img {
  width: 100%;
  height: 100%;

  object-fit: contain;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 85%;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4px auto;
  padding: 0 6px;
  border-radius: 4px;
  background-color: white;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 4px;
  /* width: 7%; */
}

.buttons > button {
  margin: 2px;
  padding: 2px;
	height: 26px;
	width: 36px;
  border: none;
  border-radius: 4px;
  background-color: #aaaaaa;
  color: white;
  font-weight: 900;
  font-size: 18px;
  font-family: Calibri, sans-serif;
}

.buttons > .card-id {
  padding-top: 0;
  height: 56px;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  cursor: move;
}

.buttons > .button-add {
  background-color: #3faf3f;
}

.buttons > .button-remove {
  background-color: #de3a3a;
}

.buttons > button.button-img {
	color: transparent;
	padding: 0;
}

.buttons > .button-img > img {
	width: 100%;
	height: 100%;
}

.text {
  margin: 4px 4px;
  padding: 4px;
  max-height: 30vh;
  width: 34vw;
  height: 52px;
  border: none;
  border-radius: 4px;
  background-color: #c0c0c0;
  text-align: center;
}