html, body, .app {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  background-color: #dbdbdb;
  color: black;
  font-family: Calibri, sans-serif;
}

div, h1, p {
  margin: 0;
  padding: 0;
}

a, a:visited {
  color: #0000dd;
  text-decoration: none;
}

.app {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

/* ----------Global---------- */
.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

/* ----------App---------- */
.remoate {
  display: flex;
  flex-direction: column;
}

.remote > .row > .button-switchView {
  height: 15vh;
}

.remote > .row > .info {
  padding: 20px;
  width: 100%;
  text-align: center;
}

.remote > .row > button {
  flex: 1;
  height: 45vh;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #dbdbdb;
  font-size: 24px;
}
.remote > .row > button:active {
  background-color: #a1a1a1;
}

.remote > .row:last-of-type > button {
  height: 20vh;
}

.gallery > .header {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px solid #464646;
  background: linear-gradient(0deg, hsl(110, 0%, 60%) 0%, hsl(110, 0%, 70%) 100%);
  box-shadow: 0 -1px 10px #000000cc;
}

.gallery > .header button {
  padding: 6px 10px;
  height: 34px;
  border: none;
  background-color: transparent;
  color: black;
  font-size: 18px;
  font-family: Calibri, sans-serif;
  transition: background-color 100ms ease-out, transform 100ms ease-out;
}
.gallery > .header button:hover {
  background-color: #00000044;
}

.gallery > .header > .group {
  display: flex;
  flex-direction: row;
  border-right: 2px solid #464646;
}
.gallery > .header > .group.right {
  margin-left: auto;
}

.gallery > .header button > img {
  margin: auto;
  height: 100%;

  object-fit: cover;
}

.gallery > .header .range-zoom {
  margin: auto 6px;
  width: 110px;
  height: 4px;
  background: #464646;

  -webkit-appearance: none;
}
.gallery > .header .range-zoom::-moz-range-thumb, .gallery > .header .range-zoom::-webkit-slider-thumb {
  background: #464646;
}

.gallery > .header #status {
  font-weight: 900;
}
.gallery > .header #status:hover {
  background-color: inherit;
}

.list {
  display: flex;
  overflow-y: auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 34px;
  max-height: calc(100vh - 34px);
  width: 100vw;
}

.tile {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 4px solid grey;
  border-radius: 6px;
  background-color: #b8b8b8;
}
.tile.active {
  border: 4px solid orange;
}

.list.z2 > .tile {
  margin: 1.4vw;
}
.list.z3 > .tile {
  margin: 1.3vw;
}
.list.z4 > .tile {
  margin: 1.2vw;
}
.list.z5 > .tile {
  margin: 0.7vw;
}
.list.z6 > .tile {
  margin: 1vw;
}
.list.z7 > .tile {
  margin: 0.85vw;
}

.tile > img {
  margin: auto;
  width: 100%;
  height: 86%;
  border-bottom: 3px solid grey;
  background-color: black;

  object-fit: contain;
}

.list.z2 > .tile > img {
  width: 46vw;
  height: 53vh;
}
.list.z3 > .tile > img {
  width: 29.5vw;
  height: 33.8vh;
}
.list.z4 > .tile > img {
  width: 22vw;
  height: 25.2vh;
}
.list.z5 > .tile > img {
  width: 18vw;
  height: 21vh;
}
.list.z6 > .tile > img {
  width: 14vw;
  height: 16vh;
}
.list.z7 > .tile > img {
  width: 12vw;
  height: 14vh;
}

.tile > p {
  padding: 2px;
  height: max-content;
  text-align: right;
}

/* ----------Mobile---------- */
@media only screen and (max-device-width : 640px) {
	#list {
		margin-top: 70px;
	}
  .gallery > .header {
    border-bottom: none;
  }
  .gallery > .header button {
    border-bottom: 2px solid #464646;
  }
  .gallery > .header .range-zoom {
    display: none;
	}
	.tile {
		margin: 1vw !important;
	}
  .tile > img {
		width: 28.6vw !important;
		height: 10vh !important;
  }
}