html, body, .app {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  background-color: #dbdbdb;
  color: black;
  font-family: Calibri, sans-serif;
}

div, h1, p {
  margin: 0;
  padding: 0;
}

a, a:visited {
  color: #0000dd;
  text-decoration: none;
}

.app {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

/* ----------Global---------- */
.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

/* ----------App---------- */
.remoate {
  display: flex;
  flex-direction: column;
}

.remote > .row > .button-switchView {
  height: 15vh;
}

.remote > .row > .info {
  padding: 20px;
  width: 100%;
  text-align: center;
}

.remote > .row > button {
  flex: 1;
  height: 45vh;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #dbdbdb;
  font-size: 24px;
}
.remote > .row > button:active {
  background-color: #a1a1a1;
}

.remote > .row:last-of-type > button {
  height: 20vh;
}

.gallery > .header {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 34px;
  border-bottom: 1px solid #464646;
  background: linear-gradient(0deg, hsl(110, 0%, 60%) 0%, hsl(110, 0%, 70%) 100%);
  box-shadow: 0 -1px 10px #000000cc;
}

.gallery > .header button {
  padding: 6px 10px;
  height: 34px;
  border: none;
  border-right: 2px solid #464646;
  background-color: transparent;
  color: black;
  font-size: 18px;
  font-family: Calibri, sans-serif;
  transition: background-color 100ms ease-out, transform 100ms ease-out;
}
.gallery > .header button:hover {
  background-color: #00000044;
}

.gallery > .header > .group {
  display: flex;
  flex-direction: row;
  /* border-right: 2px solid #242424; */
}

.gallery > .header button > img {
  margin: auto;
  height: 100%;

  object-fit: cover;
}

.list {
  display: flex;
	overflow-y: auto;
	max-height: calc(100vh - 34px);
  flex-direction: row;
	flex-wrap: wrap;
  margin-top: 34px;
}

.tile {
  display: flex;
  flex-direction: column;
  margin: 10px;
	width: 18vw;
	height: max-content;
  border: 4px solid grey;
  border-radius: 6px;
  background-color: #b8b8b8;
}
.tile.active {
  border: 4px solid orange;
}

.tile > img {
  width: 100%;
  height: 100%;

  object-fit: contain;
}

.tile > p {
  margin: 2px;
  text-align: right;
}

/* ----------Mobile---------- */
@media only screen and (max-device-width : 640px) {
  .tile {
    width: calc(50vw - 28px);
  }
}